body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: lightgray;
}

code {
  font-family: 'Courier New', monospace;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#uploadButton {
  background-color: mediumaquamarine;
  color: #282c34;
}

.textFields-gb {
  background-color: lightgray;
  border-radius: 8px;
}

#start-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
}

.App {
  background: rgb(76, 27, 98);
  background: radial-gradient(circle, rgba(76, 27, 98, 1) 0%, rgba(124, 33, 157, 1) 100%);
}
