body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: lightgray;
}

code {
  font-family: 'Courier New', monospace;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#uploadButton {
  background: #3091ae;
  color: #FFFFFF;
  font-weight: bold;
  font-size: medium;
}

.textFields-gb {
  background-color: lightgray;
  border-radius: 8px;
}

#start-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
}

.App {
  background: radial-gradient(rgba(50,50,50,1) 0%, rgba(60,60,60,1) 100%);



}
